header.portfolio-header {
  margin: 0 auto;
  max-width: 1200px;

}


.portfolio-header-inner {
  align-items: center;
  display: flex;
  justify-content: space-between;
}


img.portfolio-logo {
  max-width: 6em;
  width: 100%;
}
