:root {
  --text: #333;
  --text-h: #111;
  --bg: #fff;
  --border: #e5e4e7;
  --sans: Helvetica, sans-serif;;

  color: var(--text);
  background: #fff;
  font: 18px/1.5 var(--sans);
}


body {
  margin: 0 auto;

}

#root {
  /* max-width: 720px; */
  margin: 0 auto;
  padding: 32px 16px;
}

main {
  margin-top: 3rem;
}

p {
  margin-bottom: 1.5rem;
 }

h1,
h2,
h3 {
  color: var(--text-h);
  font-weight: 600;
}

h1 {
  line-height: 1.2;
 
}

h2 {
  position: relative;


    &:after {
    background: #d81f27;
    bottom: 0;
    content: '';
    height: 2px;
    left: 0;
    position: absolute;
    width: 25%;
    
  }
}

section {
  padding: 1rem 0 1rem 0;
}

section h2 {
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;


}

.project-grid {
  h2 {
    &:after {
      content: none;
    }
  }
}



a {
  color: inherit;
}

.portfolio-button {
  background: #fff;
  border: 2px solid #000;
  padding: 10px 15px;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.4s ease;

  &:hover, &:focus, &:focus-visible {
    background: #000;
    color: #fff;
  }
}



.content-width {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;

  &:last-child {
    margin-bottom: 4rem;
  }

  h2 {
    margin-top: 3rem;
  }
}


.content-width-wide {
  margin: 0 auto;
  max-width: 1400px;
  width: 100%;

  &:last-child {
    margin-bottom: 4rem;
  }

  h2 {
    margin-top: 3rem;
  }
}



/* Porjects Section */

.projects-section {

}

.project-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1.55rem;


  .project-item {
    align-items: flex-start;
    display: flex;
    flex-basis: 32%;
    flex-direction: column;

    img {
 
      max-width: 18rem;

      width: 100%;
    }

    p {
      margin-bottom: 0px;
      margin-top: 0.5rem;
    }

    .portfolio-button {
      margin-top: 1rem;
    }
  }
}








